In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

First do some filtering and sorting of the raw WITS data

In [3]:
df = pd.read_csv('gvc_output_WITS.csv')

# Filter data for sector codes of interest
sectors_of_interest = [1, 2, 6, 10, 19]
filtered_df = df[df['sect'].isin(sectors_of_interest)]

# Sort data by year for each country
sorted_df = filtered_df.sort_values(['country', 'sect', 't'], ascending=[True, True, True])

# Save the filtered and sorted data to a new .csv file
output_file_path = 'GVC_cleaned_052423.csv'
sorted_df.to_csv(output_file_path, index=False)

We use excel to convert raw data to percentage data using formulas from the metadata site. So we have new csv file with the percentage data. We then split it by source because they cause issues for differencing

In [5]:
# Load the CSV file into a pandas dataframe
df = pd.read_csv('GVC_cleaned_052423.csv')

filtered_df = df[df['source']=='eora']
#filtered_df.to_csv('eora_052423.csv', index=False)
filtered_df

,country,sect,t,source,outp,outpd,outptt,gvco,gvcobp,gvcofp,gvcomix
0,ABW,1,1990,eora,3.889417,1.009440,1.632360,1.247617,0.284422,0.037627,0.925567
1,ABW,1,1991,eora,4.737275,1.451135,1.938848,1.347292,0.322020,0.069577,0.955695
2,ABW,1,1992,eora,4.550254,1.134122,1.875140,1.540992,0.329202,0.038029,1.173761
3,ABW,1,1993,eora,5.093862,1.536173,2.006202,1.551487,0.295577,0.065685,1.190225
4,ABW,1,1994,eora,6.775789,2.075407,2.444015,2.256366,0.318675,0.236208,1.701483
...,...,...,...,...,...,...,...,...,...,...,...
51080,ZWE,19,2011,eora,4.716154,-0.053693,-40.592633,45.362479,14.309766,-16.521116,47.573830
51081,ZWE,19,2012,eora,5.155276,-0.052336,-37.689877,42.897489,14.050616,-14.984649,43.831522
51082,ZWE,19,2013,eora,5.663597,-0.049380,-36.433004,42.145981,14.309700,-14.084088,41.920369
51083,ZWE,19,2014,eora,6.240357,-0.062044,-34.831525,41.133925,13.122323,-13.368815,41.380417
51084,ZWE,19,2015,eora,5.687474,-0.070630,-30.941883,36.699988,12.028202,-11.453999,36.125784

In [7]:
# Load the CSV file into a pandas dataframe
df = pd.read_csv('GVC_cleaned_052423.csv')

# Group the dataframe by the 'source' column
grouped = df.groupby('source')

# Iterate over the groups and save each group to a separate CSV file
for name, group in grouped:
    filename = f"{name}_050123.csv"  # create a filename based on the group name
    group.to_csv(filename, index=False)  # save the group to a CSV file

Once split by source, we use excel to difference the percentages and add new columns with that data. Now we merge the seperate files back together.

In [9]:
adb_df = pd.read_csv('adb_050123.csv')
eora_df = pd.read_csv('eora_050123.csv')
tiva_df = pd.read_csv('tiva_050123.csv')
wiodlr_df = pd.read_csv('wiodlr_050123.csv')
wiodn_df = pd.read_csv('wiodn_050123.csv')
wiodo_df = pd.read_csv('wiodo_050123.csv')

merged_df = pd.concat([adb_df, eora_df, tiva_df, wiodlr_df, wiodn_df, wiodo_df])
sortedMerged_df = merged_df.sort_values(['source','country', 'sect', 't'], ascending=[True, True, True, True])

sortedMerged_df.to_csv('GVC_cleaned_diff_050123.csv', index=False)

In [5]:
# read the csv file into a pandas dataframe
df = pd.read_csv('GVC_cleaned_diff_050123.csv')

# filter the data for sect 6
df = df[df['sect'] == 6]
df = df[df['source'] == 'eora']

# select the columns you want to keep
df = df[['country', 't', 'outp', 'outpd%', 'outptt%']]

# print the filtered data
df.to_csv('transport_size.csv', index=False)

:

In [2]:
import pandas as pd

# Read the input CSV file
input_file = 'gvc_output_WITS.csv'
df = pd.read_csv(input_file)

filtered_df = df[df['source'] == 'eora']

# Group the data by 'country' and 't', and sum the 'outp' values for each group
output_df = df.groupby(['country', 't'], as_index=False)['outp'].sum()

# Rename the 'outp' column to 'total outp'
output_df = output_df.rename(columns={'outp': 'gross output'})

# Write the output DataFrame to a new CSV file
output_file = 'gross_output.csv'
output_df.to_csv(output_file, index=False)